<div *ngIf='currentUser' class="text-center text-dark">
  <div class="card text-center">
    <div class="card-header text-muted">
      <p>User ID:  {{currentUser.userid}}</p>
    </div>

    <div class="card-body">
      <div class="col-center-block text-center">
        <dl class="row text-left">
          <dt class="col-sm-3">User Name:</dt>
          <dd class="col-sm-9"><p>{{currentUser.username}}</p>
          </dd>

          <dt class="col-sm-3">Email:</dt>
          <dd class="col-sm-9"><p>{{currentUser.email}}</p></dd>

          <dt class="col-sm-3">Phone Number:</dt>
          <dd class="col-sm-9"><p>{{currentUser.phone}}</p></dd>

          <dt *ngIf="!isSitter" class="col-sm-3">Credits:</dt>
          <dd *ngIf="!isSitter" class="col-sm-9"><p>{{currentUser.credits}}</p></dd>

          <dt class="col-sm-3">Zip:</dt>
          <dd class="col-sm-9"><p>{{currentUser.zip}}</p></dd>

          <dt class="col-sm-3">Address:</dt>
          <dd class="col-sm-9"><p>{{currentUser.address}}</p></dd>

          <dt class="col-sm-3">User Type:</dt>
          <dd class="col-sm-9"><p>{{currentUser.userType}}</p></dd>

          <dt class="col-sm-3">AvaliableWeekday:</dt>
          <dd class="col-sm-9"><p>{{avaliableWDS}}</p></dd>

          <dt class="col-sm-3">Average Rating:</dt>
          <dd class="col-sm-9">

            <p *ngIf="currentUser.averageRate != null">
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
              <ngb-rating [(rate)]="currentUser.averageRate" [starTemplate]="t" [readonly]="true" max="5">
              </ngb-rating>
              {{currentUser.averageRate}} /5.0
              ({{currentUser.rateNumber}} ratings)
            </p>
            <p *ngIf="currentUser.averageRate == null">This user haven't get any rate yet</p>
          </dd>

          <!--          <dt class="col-sm-3">User Rating Number:</dt>-->
          <!--          <dd class="col-sm-9"><p>{{currentUser.rateNumber}}</p></dd>-->
        </dl>
      </div>
    </div>

    <div class="card-footer text-muted">
      <!---->
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="backtolast()">Back</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary"
                  [routerLink]="['/dashboard', {outlets: {'aux': ['profile']}}]">Edit
          </button>
        </div>
      </div>


    </div>
  </div>
</div>
