<h2 class="text-dark">orders</h2>
<br/>
<br/>

<div class="row text-dark" *ngIf='orderList != []'>
  <div *ngFor="let order of orderList" class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <h5 class="card-title"> {{order.orderid}} </h5>
      </div>

      <ul class="list-group list-group-flush text-left">
        <li *ngIf="!isSitter" class="list-group-item">Credits : {{order.credits}} </li>
        <li class="list-group-item">Order Description : {{order.orderDescription}} </li>
        <li class="list-group-item">Zip : {{order.zip}} </li>
        <li class="list-group-item">Start Date : {{order.startDate|date}} </li>
        <li class="list-group-item">End Date : {{order.endDate|date}} </li>
      </ul>

      <div class="card-body">
        <a [routerLink]="['/dashboard', {outlets: {'aux': ['orderdetail', order.orderid]}}]" class="card-link">See
          Detail</a>
        <a routerLink=" " *ngIf="order.maker.userid != currentUserID" class="card-link" (click)="accept(order.orderid)">Accept</a>
      </div>

    </div>
  </div>
</div>
