<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">FluffyHome</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active">About us</a>
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Come on and get Peer-to-Peer pet sitting service.</h1><br>
    <p class="lead">Fluffyhome is an app that people can find other people to look after their pets when they leave home. Find a sitter to look after you fluffy friend for free. Earn credits for caring others' pets and you can use your credits to get free service from others.</p><br>
    <p class="lead">
      <button routerLink="/login" class="btn btn-lg btn-secondary mr-5">Log in</button>
      <button routerLink="/signup" class="btn btn-lg btn-secondary">Sign up</button>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Website for <a href="">Capstone Project</a>, by <a href="https://github.com/lirance">@Chendi Zhang</a>.</p>
    </div>
  </footer>

</div>
