<h2 class="text-dark">My Pets</h2>
<br/><br/>
<div class="row text-dark" *ngIf='petList != []'>
  <div *ngFor="let pet of petList" class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <h5 class="card-title"> {{pet.petid}}</h5>
        <!--        <h6 class="card-subtitle mb-2 text-muted">Pet Name: {{pet.petname}} </h6>-->
      </div>

      <ul class="list-group list-group-flush text-left">
        <li class="list-group-item">Pet Name: {{pet.petname}}</li>
        <li class="list-group-item">Pet Type: {{pet.pettype}} </li>
        <li class="list-group-item">Pet Info: {{pet.petinfo}} </li>
      </ul>

      <div class="card-body">
        <a [routerLink]="['/dashboard', {outlets: {'aux': ['editpet', pet.petid]}}]" class="card-link">Edit</a>
      </div>

    </div>

  </div>
</div>
<div class="card mb-4 box-shadow">
  <div class="card-body">
    <a [routerLink]="['/dashboard', {outlets: {'aux': ['addpet']}}]" class="card-link">Add pet</a>
  </div>
</div>

