<div class="card-deck text-dark" *ngIf='createdOrderList != []'>
  <div *ngFor="let order of createdOrderList" class="card mb-4">
    <!--    <div class="card mb-4">-->
    <div class="card-header text-dark">Order Number : {{order.orderId}}
      <br/>
      <small *ngIf="order.status==='ORDERED'&&order.startDate<=currentDate" class="text-danger">Expired</small>

      <small *ngIf="order.status==='ACCEPTED'" class="text-success"> Accepted</small>
      <small *ngIf="order.status==='ORDERED'&&order.startDate>currentDate" class="text-warning"> Waiting for
        accept</small>
      <small *ngIf="order.status==='COMPLETED'" class="text-info"> Complete</small>

    </div>

    <div class="card-body">
      <ul class="list-group list-group-flush text-left">
        <li *ngIf="!order.orderType" class="list-group-item"><b>Credits : </b>{{order.credits}} </li>
        <li *ngIf="order.orderType" class="list-group-item"><b>Charged Order</b></li>
        <li class="list-group-item"><b>Zip :</b> {{order.zip}} </li>
        <li class="list-group-item"><b>Start Date :</b> {{order.startDate|date}} </li>
        <li class="list-group-item"><b>End Date : </b>{{order.endDate|date}} </li>
        <li class="list-group-item"><b>Order Description :</b> {{order.orderDescription}} </li>
      </ul>
    </div>


    <div class="card-footer" *ngIf="order.status==='ORDERED'&&order.startDate<=currentDate else links">
      <button type="button" class="btn btn-outline-danger" (click)="deleteOrder(order.orderId)">
        Delete Order
      </button>
    </div>
    <ng-template #links>


      <div class="card-footer">
        <a [routerLink]="['/dashboard', {outlets: {'aux': ['orderdetail', order.orderId]}}]" class="card-link">See
          Detail</a>
        <a *ngIf="order.status=='COMPLETED'&&!order.rated" (click)="rate(order.orderId, order.status)" routerLink=" "
           class="card-link ">Rate</a>

        <a *ngIf="order.status=='ORDERED'&&!order.orderType" (click)="changeOrderType(order.orderId)" routerLink=" "
           class="card-link ">Change to Charged Order</a>
      </div>
    </ng-template>

  </div>
  <!--  </div>-->
</div>
