<h2 class="text-dark">find a person for pet-sitting</h2>
<br/><br/>
<p class="text-dark text-left">Choose <strong>Peer-to-Peer</strong> to find sitter for free (use credits), <strong>Sitters</strong>
  to find profession sitters(cost money)</p>
<ul class="nav nav-tabs text-dark">
  <li class="nav-item">
    <a class="nav-link {{created_active}}" (click)="switch_created()"><strong>Peer-to-Peer</strong> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{accepted_active}}" (click)="switch_accepted()"><strong>Sitters</strong> </a>
</ul>
<br><br>
<div *ngIf='switch_flag == 0'>
  <div class="row text-dark" *ngIf='p2psitters != []'>
    <div *ngFor="let sitter of p2psitters" class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <h5 class="card-title"> {{sitter.username}} </h5>
        </div>

        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item">Average Rate: {{sitter.averageRate}} </li>
          <li class="list-group-item">Phone:{{sitter.phone}}</li>
          <li class="list-group-item">Email:{{sitter.email}}</li>
          <li class="list-group-item">Zip: {{sitter.zip}} </li>
          <li class="list-group-item">Address: {{sitter.address}} </li>
        </ul>

        <div class="card-body">
          <a [routerLink]="['/dashboard', {outlets: {'aux': ['publicprofile', sitter.userid]}}]">User Profile</a>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf='switch_flag == 1'>
  <div class="row text-dark" *ngIf='sitters != []'>
    <div *ngFor="let sitter of sitters" class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <h5 class="card-title"> {{sitter.username}} </h5>
        </div>

        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item">Average Rate: {{sitter.averageRate}} </li>
          <li class="list-group-item">Phone:{{sitter.phone}}</li>
          <li class="list-group-item">Email:{{sitter.email}}</li>
          <li class="list-group-item">Zip: {{sitter.zip}} </li>
          <li class="list-group-item">Address: {{sitter.address}} </li>
        </ul>

        <div class="card-body">
          <a [routerLink]="['/dashboard', {outlets: {'aux': ['publicprofile', sitter.userid]}}]">User Profile</a>
        </div>

      </div>
    </div>
  </div>
</div>
