<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">FluffyHome</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active">About us</a>
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">About Us</h1><br>
    <p class="lead">FluffyHome is a web application that Chendi Zhang made for Capstone project. It's a p2p
     pet sitting website with innovations. It's still a prototype for now.</p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Website for <a href="">Capstone Project</a>, by <a href="https://github.com/lirance">@Chendi Zhang</a>.</p>
    </div>
  </footer>
</div>
