<script src="editpetinfo.component.ts"></script><h2 class="text-dark">Pet Profile </h2>
<form [formGroup]="petInfoForm" (ngSubmit)="onSubmit()" class="text-dark text-left">

  <div class="form-group">
    <label>Pet Id</label>
    <input type="text" value="{{currentPet.petid}}" formControlName="petId" readonly="readonly" class="form-control"/>
  </div>

  <div class="form-group">
    <label>Pet Name</label>
    <input type="text" formControlName="petName" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.petName.errors }"/>
    <div *ngIf="submitted && f.petName.errors" class="invalid-feedback">
      <div *ngIf="f.petName.errors.required">User name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label>Pet Type</label>
    <input type="text" formControlName="petType" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.petType.errors }"/>
    <div *ngIf="submitted && f.petType.errors" class="invalid-feedback">
      <div *ngIf="f.petType.errors.required">petType is required</div>
    </div>
  </div>

  <div class="form-group">
    <label>Pet Info</label>
    <input type="text" formControlName="petInfo" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.petInfo.errors }"/>
  </div>

  <div class="form-group text-center">
    <button [disabled]="loading" class="btn btn-primary">Submit</button>
    <a (click)="backtolast()" class="btn btn-link">Cancel</a>
  </div>

</form>
