<div class="card-deck text-dark" *ngIf='acceptOrderList != []'>
  <div *ngFor="let order of acceptOrderList" class="card mb-4">
    <div class="card-header">Order Number : {{order.orderId}}
      <br/>
      <small *ngIf="order.status==='COMPLETED'" class="text-info"> Complete</small>
      <small *ngIf="order.status !='COMPLETED'" class="text-success">In Progress</small>
    </div>

    <div class="card-body">
      <ul class="list-group list-group-flush text-left">
        <li *ngIf="!isSitter" class="list-group-item"><b>Credits : </b>{{order.credits}} </li>
        <li class="list-group-item"><b>Order Description :</b> {{order.orderDescription}} </li>
        <li class="list-group-item"><b>Zip :</b> {{order.zip}} </li>
        <li class="list-group-item"><b>Start Date :</b> {{order.startDate|date}} </li>
        <li class="list-group-item"><b>End Date : </b>{{order.endDate|date}} </li>
      </ul>
    </div>

    <div class="card-footer">
      <a [routerLink]="['/dashboard', {outlets: {'aux': ['orderdetail', order.orderId]}}]" class="card-link">See
        Detail</a>
      <a *ngIf="order.status=='COMPLETED'&&!order.rated" (click)="rate(order.orderId, order.status)"
         class="card-link text-primary">Rate</a>
    </div>


  </div>
</div>
