<div *ngIf='orderDetail' class="text-center text-dark">
  <div class="card text-center">
    <div class="card-header text-muted">
      <p>Order ID:  {{orderDetail.orderid}}</p>
    </div>

    <div class="card-body">
      <div class="col-center-block text-center">
        <dl class="row text-left">

          <dt *ngIf="!ifSitter" class="col-sm-3">Credits :</dt>
          <dd *ngIf="!ifSitter" class="col-sm-9"><p>{{orderDetail.credits}}</p>
          </dd>

          <dt class="col-sm-3">Zip :</dt>
          <dd class="col-sm-9"><p>{{orderDetail.zip}}</p></dd>
          <dt class="col-sm-3">Address :</dt>
          <dd class="col-sm-9"><p>{{orderDetail.address}}</p></dd>

          <dt class="col-sm-3">Start Date :</dt>
          <dd class="col-sm-9"><p>{{orderDetail.startDate | date}}</p></dd>

          <dt class="col-sm-3">End Date :</dt>
          <dd class="col-sm-9"><p>{{orderDetail.endDate | date}}</p></dd>

          <dt class="col-sm-3">Order Description :</dt>
          <dd class="col-sm-9"><p>{{orderDetail.orderDescription}}</p></dd>

          <dt class="col-sm-3">Poster & Pets :</dt>
          <dd class="col-sm-9">
            <a
              [routerLink]="['/dashboard', {outlets: {'aux': ['publicprofile', orderDetail.maker.userid]}}]">{{orderDetail.maker.username}}</a>
          </dd>

          <dt class="col-sm-3">State :</dt>
          <dd class="col-sm-9"><p>{{orderDetail.status}}</p></dd>

          <dt class="col-sm-3">Acceptor :</dt>
          <dd class="col-sm-9">
            <a *ngIf="orderDetail.recipient != null"
               [routerLink]="['/dashboard', {outlets: {'aux': ['publicprofile', orderDetail.recipient.userid]}}]">{{orderDetail.recipient.username}}</a>
            <p *ngIf="orderDetail.recipient == null">Haven't accepted by other user!
              <a routerLink=" " *ngIf="orderDetail.maker.userid != currentUserId" class="card-link"
                 (click)="accept(orderDetail.orderid)">Accept</a>
            </p>
          </dd>
        </dl>
      </div>

      <div class="button-block">
        <div class="text-center row">
          <div *ngIf="orderDetail.status!='COMPLETED'&&orderDetail.maker != null && orderDetail.recipient !=null
        && (orderDetail.maker.userid == currentUserId )"
               class="text-center col">
            <button type="button" class="btn btn-primary" (click)="complete()">
              Complete
            </button>
          </div>


          <div class="text-center col "
               *ngIf='orderDetail.status == "ACCEPTED" && orderDetail.recipient.userid == currentUserId'>
            <button type="button" class="btn btn-primary" (click)="cancelAcceptedOrder()">
              Cancel
            </button>
          </div>

          <div class="text-center col"
               *ngIf='orderDetail.status == "ORDERED" && orderDetail.maker.userid == currentUserId'>
            <button type="button" class="btn btn-primary" (click)="deleteOrder()">
              Delete
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="card-footer text-muted">
      <!---->
      <button type="button" class="btn btn-primary" (click)="backtolast()">Back</button>
    </div>

  </div>
</div>
