<h2 class="text-dark">Add a Pet</h2>
<form [formGroup]="petForm" (ngSubmit)="onSubmit()" class="text-dark text-left">

  <div class="form-group">
    <label for="petName"> Pet Name: </label>
    <input type="text" id="petName" formControlName="petName"
           class="form-control"
    />
    <div *ngIf="petForm.controls.petName.touched&&!petForm.controls.petName.valid" class="alert alert-danger">
      Pet Name is required
    </div>
  </div>

  <div class="form-group">
    <label for="petType">Pet Type: </label>
    <input type="text" placeholder="dog/cat/other" id="petType" formControlName="petType" class="form-control"/>
    <div *ngIf="petForm.controls.petType.touched&&!petForm.controls.petType.valid" class="alert alert-danger">
      Pet Type is required
    </div>
  </div>

  <div class="form-group">
    <label for="petInfo">Pet Info: (Something special about your pet)</label>
    <input type="text" placeholder="XXX is shy but friendly, shel loves play with ball..." id="petInfo"
           formControlName="petInfo"
           class="form-control"/>

  </div>


  <div class="form-group text-center">
    <button class="btn btn-primary">Submit</button>
    <a (click)="backtolast()" class="btn btn-link">Cancel</a>
  </div>

</form>

<br><br>
