<h2 class="text-dark">Add a Pet</h2>
<form [formGroup]="petForm" (ngSubmit)="onSubmit()" class="text-dark text-left">

  <div class="form-group">
    <label for="pettype">Pet Type: </label>
    <input type="text" placeholder="dog/cat/other" id="pettype" formControlName="pettype" class="form-control"/>

  </div>

  <div class="form-group">
    <label for="petname"> Pet Name: </label>
    <input type="text" id="petname" formControlName="petname"
           class="form-control"
    />

  </div>

  <div class="form-group">
    <label for="petinfo">PetInfo(some special about your pet)</label>
    <input type="text" placeholder="XXX is shy but friendly, shel loves play with ball..." id="petinfo"
           formControlName="petinfo"
           class="form-control"/>

  </div>

  <div class="form-group text-center">
    <button class="btn btn-primary">Submit</button>
    <a (click)="backtolast()" class="btn btn-link">Cancel</a>
  </div>

</form>

<br><br>
