<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.oregonstate.fluffyhome.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="edu.oregonstate.fluffyhome.model.Order">
        <id column="orderId" jdbcType="INTEGER" property="orderid"/>

        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="orderType" jdbcType="BIT" property="orderType"/>
        <result column="credits" jdbcType="INTEGER" property="credits"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="zip" jdbcType="INTEGER" property="zip"/>
        <result column="latlng" jdbcType="VARCHAR" property="latlng"/>
        <result column="startDate" jdbcType="DATE" property="startDate"/>
        <result column="endDate" jdbcType="DATE" property="endDate"/>
        <result column="orderDescription" jdbcType="VARCHAR" property="orderDescription"/>
    </resultMap>
    <sql id="Base_Column_List">
    orderId, orderDescription, status, orderType, credits, address, zip, latlng, startDate,
    endDate
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `order`
        where orderId = #{orderid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `order`
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="edu.oregonstate.fluffyhome.model.Order" useGeneratedKeys="true"
            keyProperty="orderid">
    insert into`order`(orderDescription,
      status, orderType, credits, 
      address, zip, latlng, 
      startDate, endDate)
    values (#{orderDescription, jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{orderType,jdbcType=BIT}, #{credits,jdbcType=INTEGER},
      #{address,jdbcType=VARCHAR}, #{zip,jdbcType=INTEGER}, #{latlng,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE})
  </insert>
    <insert id="insertSelective" parameterType="edu.oregonstate.fluffyhome.model.Order">
        insert into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderid != null">
                orderId,
            </if>
            <if test="orderDescription != null">
                orderDescription,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="orderType != null">
                orderType,
            </if>
            <if test="credits != null">
                credits,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="zip != null">
                zip,
            </if>
            <if test="latlng != null">
                latlng,
            </if>
            <if test="startDate != null">
                startDate,
            </if>
            <if test="endDate != null">
                endDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="orderDescription != null">
                #{orderDescription, jdbcType=VARCHAR}},
            </if>

            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=BIT},
            </if>
            <if test="credits != null">
                #{credits,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="zip != null">
                #{zip,jdbcType=INTEGER},
            </if>
            <if test="latlng != null">
                #{latlng,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.oregonstate.fluffyhome.model.Order">
        update `order`
        <set>
            <if test="orderDescription != null">
                orderDescription = #{orderDescription, jdbcType=VARCHAR}},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                orderType = #{orderType,jdbcType=BIT},
            </if>
            <if test="credits != null">
                credits = #{credits,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="zip != null">
                zip = #{zip,jdbcType=INTEGER},
            </if>
            <if test="latlng != null">
                latlng = #{latlng,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                startDate = #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null">
                endDate = #{endDate,jdbcType=DATE},
            </if>
        </set>
        where orderId = #{orderid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.oregonstate.fluffyhome.model.Order">
    update `order`
    set orderDescription = #{orderDescription, jdbcType=VARCHAR}},
      status = #{status,jdbcType=VARCHAR},
      orderType = #{orderType,jdbcType=BIT},
      credits = #{credits,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      zip = #{zip,jdbcType=INTEGER},
      latlng = #{latlng,jdbcType=VARCHAR},
      startDate = #{startDate,jdbcType=DATE},
      endDate = #{endDate,jdbcType=DATE}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>

    <select id="getAllNotAcceptedOrders" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `order`
        where status = 'ORDERED'
    </select>


</mapper>