<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.oregonstate.fluffyhome.mapper.UserPetMapper">
  <resultMap id="BaseResultMap" type="edu.oregonstate.fluffyhome.model.UserPet">
    <id column="petId" jdbcType="INTEGER" property="petid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="petType" jdbcType="VARCHAR" property="pettype" />
    <result column="petName" jdbcType="VARCHAR" property="petname" />
    <result column="petInfo" jdbcType="VARCHAR" property="petinfo" />
  </resultMap>
  <sql id="Base_Column_List">
    petId, userId, petType, petName, petInfo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_pet
    where petId = #{petid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_pet
    where petId = #{petid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.oregonstate.fluffyhome.model.UserPet">
    insert into user_pet (petId, userId, petType, 
      petName, petInfo)
    values (#{petid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{pettype,jdbcType=VARCHAR}, 
      #{petname,jdbcType=VARCHAR}, #{petinfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.oregonstate.fluffyhome.model.UserPet">
    insert into user_pet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="petid != null">
        petId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="pettype != null">
        petType,
      </if>
      <if test="petname != null">
        petName,
      </if>
      <if test="petinfo != null">
        petInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="petid != null">
        #{petid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="pettype != null">
        #{pettype,jdbcType=VARCHAR},
      </if>
      <if test="petname != null">
        #{petname,jdbcType=VARCHAR},
      </if>
      <if test="petinfo != null">
        #{petinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.oregonstate.fluffyhome.model.UserPet">
    update user_pet
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="pettype != null">
        petType = #{pettype,jdbcType=VARCHAR},
      </if>
      <if test="petname != null">
        petName = #{petname,jdbcType=VARCHAR},
      </if>
      <if test="petinfo != null">
        petInfo = #{petinfo,jdbcType=VARCHAR},
      </if>
    </set>
    where petId = #{petid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.oregonstate.fluffyhome.model.UserPet">
    update user_pet
    set userId = #{userid,jdbcType=INTEGER},
      petType = #{pettype,jdbcType=VARCHAR},
      petName = #{petname,jdbcType=VARCHAR},
      petInfo = #{petinfo,jdbcType=VARCHAR}
    where petId = #{petid,jdbcType=INTEGER}
  </update>
</mapper>