<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.oregonstate.fluffyhome.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="edu.oregonstate.fluffyhome.model.User">
        <id column="userId" jdbcType="INTEGER" property="userid"/>
        <result column="userName" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="credits" jdbcType="INTEGER" property="credits"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="zip" jdbcType="INTEGER" property="zip"/>
        <result column="latlng" jdbcType="VARCHAR" property="latlng"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="rateNumber" jdbcType="INTEGER" property="rateNumber"/>
        <result column="averageRate" jdbcType="REAL" property="averageRate"/>
        <result column="userType" jdbcType="VARCHAR" property="userType"/>
        <result column="avaliableDate" jdbcType="VARCHAR" property="avaliableDate"/>
        <result column="avaliableWeekday" jdbcType="VARCHAR" property="avaliableWeekday"
                typeHandler="edu.oregonstate.fluffyhome.handler.WeekDayAvaHandler"/>
    </resultMap>
    <sql id="Base_Column_List">
    userId, userName, password, phone, credits, address, zip, latlng, email, rateNumber, 
    averageRate, userType, avaliableDate, avaliableWeekday
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where userId = #{userid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="edu.oregonstate.fluffyhome.model.User">
    insert into user (userName, password,
      phone, credits, address, 
      zip, latlng, email, 
      rateNumber, averageRate, userType, 
      avaliableDate, avaliableWeekday)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{credits,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{zip,jdbcType=INTEGER}, #{latlng,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{rateNumber,jdbcType=INTEGER}, #{averageRate,jdbcType=REAL}, #{userType,jdbcType=VARCHAR},
      #{avaliableDate,jdbcType=VARCHAR}, #{avaliableWeekday,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="edu.oregonstate.fluffyhome.model.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userId,
            </if>
            <if test="username != null">
                userName,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="credits != null">
                credits,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="zip != null">
                zip,
            </if>
            <if test="latlng != null">
                latlng,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="ratenumber != null">
                rateNumber,
            </if>
            <if test="averagerate != null">
                averageRate,
            </if>
            <if test="usertype != null">
                userType,
            </if>
            <if test="avaliabledate != null">
                avaliableDate,
            </if>
            <if test="avaliableweekday != null">
                avaliableWeekday,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="credits != null">
                #{credits,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="zip != null">
                #{zip,jdbcType=INTEGER},
            </if>
            <if test="latlng != null">
                #{latlng,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="ratenumber != null">
                #{ratenumber,jdbcType=INTEGER},
            </if>
            <if test="averagerate != null">
                #{averagerate,jdbcType=REAL},
            </if>
            <if test="usertype != null">
                #{usertype,jdbcType=VARCHAR},
            </if>
            <if test="avaliabledate != null">
                #{avaliabledate,jdbcType=VARCHAR},
            </if>
            <if test="avaliableweekday != null">
                #{avaliableweekday,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.oregonstate.fluffyhome.model.User">
        update user
        <set>
            <if test="username != null">
                userName = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="credits != null">
                credits = #{credits,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="zip != null">
                zip = #{zip,jdbcType=INTEGER},
            </if>
            <if test="latlng != null">
                latlng = #{latlng,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="ratenumber != null">
                rateNumber = #{ratenumber,jdbcType=INTEGER},
            </if>
            <if test="averagerate != null">
                averageRate = #{averagerate,jdbcType=REAL},
            </if>
            <if test="usertype != null">
                userType = #{usertype,jdbcType=VARCHAR},
            </if>
            <if test="avaliabledate != null">
                avaliableDate = #{avaliabledate,jdbcType=VARCHAR},
            </if>
            <if test="avaliableweekday != null">
                avaliableWeekday = #{avaliableweekday,jdbcType=VARCHAR},
            </if>
        </set>
        where userId = #{userid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.oregonstate.fluffyhome.model.User">
    update user
    set userName = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      zip = #{zip,jdbcType=INTEGER},
      avaliableWeekday = #{avaliableWeekday,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where phone = #{phone,jdbcType=VARCHAR} limit 1
    </select>
</mapper>