<h2 class="text-dark">Requests</h2>
<br/>
<br/>

<!-- requests that wait for answer -->

<div class="text-dark" *ngIf='requests != []'>
  <h5 class="text-dark text-left">New Requests:</h5>
  <div *ngFor="let request of requests">
    <div *ngIf="request.status==='REQUESTED'" class="list-group text-left">
      <a class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Request to user
            <a
              [routerLink]="['/dashboard', {outlets: {'aux': ['publicprofile', request.fuId]}}]">{{request.tuId}}</a>
          </h5>
          <span *ngIf="request.status==='REQUESTED'"> Waiting </span>
          <!--          <span class="btn btn-outline-danger" (click)="accept(request.requestId)">Decline</span>-->
        </div>
        <p>Order <b>{{request.orderId}}</b>
          start from {{request.expire|date}}</p>
        <a [routerLink]="['/dashboard', {outlets: {'aux': ['orderdetail', request.orderId]}}]" class="card-link">See
          Order
          Detail</a>
      </a>

    </div>
    <br/>
  </div>
</div>

<!-- history requests  -->
<hr/>
<br/>
<h5 class="text-dark text-left">History Requests:</h5>
<br/>
<div class="text-dark" *ngIf='requests != []'>
  <div *ngFor="let request of requests">

    <div *ngIf="request.status!='REQUESTED'" class="list-group text-left">
      <a class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Request from user
            <a
              [routerLink]="['/dashboard', {outlets: {'aux': ['publicprofile', request.fuId]}}]">{{request.fuId}}</a>
          </h5>

          <small *ngIf="request.status==='INVALID'" class="text-muted"> Expired </small>
          <span *ngIf="request.status==='ACCEPTED'" class="text-success"> Accepted </span>
          <span *ngIf="request.status==='REFUSED'" class="text-warning"> Declined </span>

          <!--          <span class="btn btn-outline-danger" (click)="accept(request.requestId)">Decline</span>-->
        </div>
        <p>Order <b>{{request.orderId}}</b>
          start from {{request.expire|date}}</p>
        <a *ngIf="request.status!='INVALID'"
           [routerLink]="['/dashboard', {outlets: {'aux': ['orderdetail', request.orderId]}}]" class="card-link">See
          Order
          Detail</a>
      </a>

    </div>
    <br/>
  </div>
</div>
